name: CI/CD
on:
  push:
    branches:
      - main
      - release/**
      - feature/**
      - hotfix/**
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: gd, pdo_sqlite
      - name: Update composer
        run: composer --verbose self-update
        shell: bash
      - name: Validate composer
        run: composer validate
        shell: bash
      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ./vendor
          key: ${{ github.sha }}
      - name: Composer install with dev dependencies
        run: composer install -n --optimize-autoloader --ignore-platform-reqs
  test:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: gd, pdo_sqlite
      - name: Update composer
        run: composer --verbose self-update
        shell: bash
      - name: Get cached Composer dependencies
        uses: actions/cache@v4
        with:
          path: ./vendor
          key: ${{ github.sha }}
      - name: Run PHPUnit tests
        id: phpunit
        run: php ./vendor/bin/phpunit